<!-- <p>about-us works!</p> -->
<main>
    <section>
        <div class="container">
            <div class="pagesTitle">
                <h2>Acerca de</h2>
            </div>
                <div class="about__container">
                    <div class="about__container_info">
                        <p class="card_title">¿Qué es HealthWatch Town?</p>
                        <p class="card_info">HealthWatch Town es tu aplicación para monitorear la salud local en Bogotá.
                            Te ofrecemos información publicada sobre la disponibilidad de servicios de salud y la
                            incidencia de enfermedades en tu zona.</p>
                    </div>
                    <img class="about_img" src="img/acerca.jpg" alt="image young woman sitting on the table">
                </div>
            </div>
    </section>
</main>
