main {
    padding: 7vh 1px 1px 0px;
    margin-bottom: 45px;
    margin-top: 20px;
}

.pagesTitle h2 {
    font-size: 28px;
}

section {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}

/* Contenedor del carrusel */
.carousel-container {
    position: relative;
    width: 80%;
    max-width: 90%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #1E3A8A;
}

/* Carrusel */
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Elemento del carrusel */
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #1E3A8A;
}

/* Organiza la tarjeta */
.card {
    padding: 0px 50px;
    position: sticky;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* alinea en el eje vertical */
    align-self: center;
}

.card_title {
    padding-top: 10%;
    font-size: 28px;
    color: #fff;
}

.card_info {
    padding-top: 5%;
    padding-bottom: 2%;
    color: #a09d9d;
    font-size: 17px;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    padding-top: 5%;
    padding-bottom: 2%;
}

.card_button {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* alinea en el eje vertical */
    align-self: center;
}

/* Controles del carrusel */
.carousel-control {
    position: absolute;
    top: 50%;
    background-color: #1E3A8A;
    color: #60A5FA;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control.prev {
    left: 10px;
    font-size: 80px;
}

.carousel-control.next {
    right: 10px;
    font-size: 80px;

}

/* Efectos de hover */
.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.button {
    z-index: 50;
    position: relative;
    width: 100px;
    height: 30px;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    background-color: #9ACD32;
    color: #FFF;
    border: 1px solid #6B8E23;
    padding: 10px 20px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: center;

    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
    transform: scale(0.97);

}

.button:hover {
    background-color: #A2D56B;
    /* Fondo verde cálido más claro en hover */
    color: #1F2937;
    /* Texto gris oscuro en hover */
    border-color: #9ACD32;
    /* Borde verde cálido en hover */
}

.hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.button_space {
    height: 30px;
}

/* manejo de los queries */
@media screen and (max-width: 980px) {
    section {
        grid-template-rows: 50%, 50%;
        /* border: 5px double greenyellow; */
        height: auto;
    }

    .card {
        grid-template-columns: 1fr 1fr;
    }

    .card img {
        width: 95%;
    }

    .card_title {
        padding-top: 8%;
    }
}

@media screen and (max-width: 800px) {
    .card {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) {
    .card_title {
        font-size: 22px;
    }

    .card_info {
        font-size: 18px;
    }
}